# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
.pytest_cache/
backend/htmlcov/
backend/.coverage

# Django
*.sqlite3

# Node
node_modules/
frontend/dist/
frontend/coverage/

# Docker
postgres_data/

# OS
.DS_Store
